body {
    margin: 0;
    padding: 0;
    font-family: Arial;
  }

  .header{
    padding: 60px;
  text-align: center;
  background: rgb(45, 8, 94);
  color: white;
  font-size: 30px;
  }

  div.const-card {
    text-align: center;
    background-color: #eeeeee;
    min-height: 300px;
    min-width: 250px;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 10px 10px grey;
    padding: 10px;
    border-radius: 10px;
  }
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: rgb(85, 22, 167);
  }
  
  .content {
    padding: 0 18px;
    display: block;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  
  .view-button {
    background-color: rgb(45, 8, 94);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 14px 40px;
  }

  .view-button:hover {
    background-color: #777;
  }